@model FullValidationViewModel
@{
    ViewData["Title"] = "Study FullValidationListAdd";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]
<!-- Page edit-group -->
<div class="container px-4 py-4" id="edit-group">
    <form class="needs-validation" method="post" novalidate>
        <!-- This is the parameter that will be sent to Post when item is clicked -->
        <input type="hidden" name="quoteId" data-seido-selected-item-id-target />

        <h2 class="pb-2 border-bottom">
            Edit the list of quotes
            <button class="btn btn-primary-outline" type="submit" asp-controller="FormValidation" asp-action="FullValidationSave">
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#save" /></svg>
            </button>
            <button class="btn btn-primary-outline" type="submit" asp-controller="FormValidation" asp-action="FullValidationUndo">
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#undo" /></svg>
            </button>
        </h2>

        <!-- Server side validation errors, rough but just in case client side validation is not working or tampered with -->
        @if (Model.ValidationResult.HasErrors)
        {
            <div class="row g-3">
                @foreach (var item in Model.ValidationResult.ErrorMsgs)
                {
                    <span class="alert alert-danger" role="alert">
                        @item
                    </span>
                }
            </div>
        }

        <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
            <div class="col-md-7 col-lg-10">

                <!-- Added the possibility to Create a new Quote -->
                <div class="row mb-2 text-center">
                    <div class="col-md-10 themed-grid-head-col">Name</div>
                    <div class="col-md-2 themed-grid-head-col">
                        <button class="btn btn-success btn-sm m-1" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseAdd">
                            New
                        </button>
                    </div>
                </div>

                <div class="collapse row mb-2 text-center" id="collapseAdd">
                    <div class="form-floating col-md-12 themed-grid-col">
                        <!--Fields to edit -->
                        <input asp-for="NewQuoteIM.Quote" class="form-control" value="@Model.NewQuoteIM.Quote" />
                        <span asp-validation-for="NewQuoteIM.Quote" class="invalid-feedback"></span>
                        <label asp-for="NewQuoteIM.Quote">quote</label>
                    </div>
                    <div class="form-floating col-md-10 themed-grid-col">
                        <!--Fields to edit -->
                        <input asp-for="NewQuoteIM.Author" class="form-control" value="@Model.NewQuoteIM.Author" />
                        <span asp-validation-for="NewQuoteIM.Author" class="invalid-feedback"></span>
                        <label asp-for="NewQuoteIM.Author">author</label>
                    </div>
                    <div class="form-floating col-md-2 themed-grid-col">
                        <button type="submit" asp-controller="FormValidation" asp-action="FullValidationAdd" class="btn btn-success btn-sm m-1">
                            Ok
                        </button>
                    </div>
                </div>

                @for (int k = 0; k < Model.QuotesIM.Count; k++)
                {
                    <div class="row mb-2 text-center @(Model.QuotesIM[k].StatusIM == StatusIM.Deleted? "d-none" : null)">

                        <!-- Hidden fields so they are preserved by the Modelbinder -->
                        <input asp-for="QuotesIM[k].StatusIM" value="@Model.QuotesIM[k].StatusIM" class="form-control" type="hidden" />
                        <input asp-for="QuotesIM[k].QuoteId" value="@Model.QuotesIM[k].QuoteId" class="form-control" type="hidden" />
                        <input asp-for="QuotesIM[k].Author" value="@Model.QuotesIM[k].Author" class="form-control" type="hidden" />
                        <input asp-for="QuotesIM[k].Quote" value="@Model.QuotesIM[k].Quote" class="form-control" type="hidden" />

                        <div class="col-md-10 themed-grid-col">
                            @Model.QuotesIM[k].Quote
                            <div class="col-md-16  text-end">@Model.QuotesIM[k].Author</div>
                        </div>
                        <div class="col-md-2 themed-grid-col">
                            <button class="btn btn-secondary btn-sm m-1" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseEdit_@Model.QuotesIM[k].QuoteId"
                                    data-seido-selected-item-id="@Model.QuotesIM[k].QuoteId">
                                Edit
                            </button>

                            <!-- Button trigger post DeleteArtist -->
                            <button type="submit" asp-controller="FormValidation" asp-action="FullValidationDelete" class="btn btn-danger btn-sm m-1"
                                    data-seido-selected-item-id="@Model.QuotesIM[k].QuoteId">
                                Del
                            </button>
                        </div>
                    </div>

                    <div class="collapse row mb-2 text-center" id="collapseEdit_@Model.QuotesIM[k].QuoteId">
                        <div class="form-floating col-md-12 themed-grid-col">
                            <!--Fields to edit -->
                            <input asp-for="QuotesIM[k].editQuote" class="form-control" value="@Model.QuotesIM[k].editQuote" />
                            <span asp-validation-for="QuotesIM[k].editQuote" class="invalid-feedback"></span>
                            <label asp-for="QuotesIM[k].editAuthor">quote</label>
                        </div>
                        <div class="form-floating col-md-10 themed-grid-col">
                            <!--Fields to edit -->
                            <input asp-for="QuotesIM[k].editAuthor" class="form-control" value="@Model.QuotesIM[k].editAuthor" />
                            <span asp-validation-for="QuotesIM[k].editAuthor" class="invalid-feedback"></span>
                            <label asp-for="QuotesIM[k].editAuthor">author</label>
                        </div>
                        <div class="form-floating col-md-2 themed-grid-col">
                            <button type="submit" asp-controller="FormValidation" asp-action="FullValidationEdit" class="btn btn-success btn-sm m-1">
                                Ok
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </form>
</div>

@section script
{
    <!-- -->
    <partial name="_ValidationScriptsPartial" />
}

