@model FriendsByCountryViewModel
@{
}

<div class="container px-4 py-4" id="friends-by-country">
    <h2 class="pb-2 border-bottom">Friends by country</h2>
    <p>Click in on a country below to see what cities my friends are living in.</p>

    <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">

        @foreach (var country in Model.FriendsByCountry.Keys)
        {   
            <a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="FriendsByCity" asp-route-country="@country">
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('@Url.Content("~/img/" + country + ".jpg")');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white" style="text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;">
                            <h3 class="pt-1 mt-1 mb-4 display-6 lh-1 fw-bold">@country</h3>
                            @if (country == "Unknown") { <p class="fs-5">@Model.FriendsByCountry[country] Friends</p> }
                            else { <p class="fs-5">@Model.FriendsByCountry[country] Friends in @Model.CitiesByCountry[country] cities</p> }
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>