@model InputSimpleViewModel
@{
    ViewData["Title"] = "Study InputModelListSimple";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]

<!-- Page view-quote -->
<div class="container px-4 py-4" id="view-group">
    <form class="needs-validation" method="post" novalidate>
        <!-- Hidden fields used to bind input model -->
        <input asp-for="QuoteIM.QuoteId" value="@Model.QuoteIM.QuoteId" type="hidden" />
        <input asp-for="QuoteIM.StatusIM" value="@Model.QuoteIM.StatusIM" type="hidden" />
 
        <h2 class="pb-2 border-bottom">
            @Model.PageHeader
            <button class="btn btn-primary-outline" type="submit" asp-asp-controller="Form" asp-action="InputModelSimpleSave">
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#save" /></svg>
            </button>
            @if (Model.QuoteIM.StatusIM != StatusIM.Inserted)
            {
                <button class="btn btn-primary-outline" type="submit" asp-asp-controller="Form" asp-action="InputModelSimpleUndo">
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#undo" /></svg>
                </button>
            }
        </h2>

        @if (Model.ErrorMessage != null)
        {
            <div class="row mb-1 text-center">
                <span class="alert alert-danger" role="alert">
                    @Model.ErrorMessage
                </span>
            </div>
        }
        else
        {
            <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
                <div class="col-md-7 col-lg-10">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="author" class="form-label">Author</label>
                            <input type="text" class="form-control" asp-for="QuoteIM.Author" id="author" value="@Model.QuoteIM.Author">
                        </div>
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-12">
                            <label for="quote" class="form-label">Quote</label>
                            <input type="text" class="form-control" asp-for="QuoteIM.Quote" id="quote" value="@Model.QuoteIM.Quote">
                        </div>
                    </div>
                </div>
            </div>

        }
    </form>

    <!-- inital template that can be easily hidden -->
    <div class="d-none">
        <form class="needs-validation" method="post" novalidate>
            <h2 class="pb-2 border-bottom">
                TEMPLATE
                <button class="btn btn-primary-outline" type="submit" asp-page-handler="Save">
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#save" /></svg>
                </button>
                <button class="btn btn-primary-outline" type="submit" asp-page-handler="Undo">
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#undo" /></svg>
                </button>
            </h2>

            <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
                <div class="col-md-7 col-lg-10">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="author" class="form-label">Author</label>
                            <input type="text" class="form-control" id="author" value="Sir Connan Doyle" readonly>
                        </div>
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-12">
                            <label for="quote" class="form-label">Quote</label>
                            <input type="text" class="form-control" id="quote" value="Sherlock is best" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



