@page
@model MyApp.Namespace.ListOfFriendsModel
@{
}
<div class="container px-4 py-4" id="list-of-friends">
    <h2 class="pb-2 border-bottom">List of friends in @Model.ChosenCity</h2>

    <p>These are my friends. You can seach by name or address. You can also view or edit all the details. Sad but possible, you 
        could also remove a friened from my database. More fun is it to add a friend, which all my friends can do.</p>
    <div class="row mb-1 text-center">
        <div class="col-md-8 ">
            <form class="d-flex mt-3 mt-lg-0" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="row mb-2 text-center">
        <div class="col-md-4 themed-grid-col">Name</div>
        <div class="col-md-4 themed-grid-col">Address</div>
        <div class="col-md-2 themed-grid-col">Info</div>
        <div class="col-md-2 themed-grid-col">
            <a href="#add-edit-friend" class="btn btn-success btn-sm" type="button">Add</a>
        </div>
    </div>
    
    @foreach (var friend in Model.FriendsList) 
    {
        <div class="row mb-2 text-center">
            <div class="col-md-4 themed-grid-col">
            @friend.FirstName @friend.LastName
            <div class="col-md-16">@friend.Email</div>
            </div>
            <div class="col-md-4 themed-grid-col">
            @friend.Address.StreetAddress
            <div class="col-md-16">@friend.Address.ZipCode @friend.Address.City</div>
            <div class="col-md-16">@friend.Address.Country</div>
            </div>
            <div class="col-md-2 themed-grid-col">
            <div class="col-md-16">Born: @friend.Birthday</div>
            <div class="col-md-16">Pets: @friend.Pets.Count()</div>
            <div class="col-md-16">Quotes: @friend.Quotes.Count()</div>
            </div>
            <div class="col-md-2 themed-grid-col">
                <a href="#view-friend" class="btn btn-primary btn-sm" type="button">View</a>
                <a href="#add-edit-friend"  class="btn btn-secondary btn-sm" type="button">Edit</a>
                <a href="#modals"  class="btn btn-danger btn-sm" type="button">Delete</a>
            </div>
        </div>
    }

    <nav aria-label="Standard pagination example">
        <ul class="pagination">
            <li class="page-item">
                @if (Model.CurrentPage > 1)
                {
                    <a class="page-link" asp-area="" asp-page="/ListOfFriends" asp-route-city="@Model.ChosenCity" asp-route-page="@(Model.CurrentPage-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                }
                else 
                {
                    <a class="page-link" asp-area="" asp-page="/ListOfFriends" asp-route-city="@Model.ChosenCity" asp-route-page="@(Model.CurrentPage)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                }
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item">
                    <a class="page-link" asp-area="" asp-page="/ListOfFriends" asp-route-city="@Model.ChosenCity" asp-route-page="@i">@i</a>
                </li>
            }
            <li class="page-item">
                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <a class="page-link" asp-area="" asp-page="/ListOfFriends" asp-route-city="@Model.ChosenCity" asp-route-page="@(Model.CurrentPage+1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                }
                else 
                {
                    <a class="page-link" asp-area="" asp-page="/ListOfFriends" asp-route-city="@Model.ChosenCity" asp-route-page="@(Model.CurrentPage)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                }
            </li>
        </ul>
    </nav>
</div>